## .NET
bin/
obj/
*.user
*.suo
.vs/
.vscode/
*.swp

## NuGet
*.nupkg
**/packages/
!**/packages/build/

## Build artifacts
publish/
dist/
release/

## OS
.DS_Store
Thumbs.db

## Rider
.idea/
*.sln.iml
